<div class="container mx-auto my-3">
  <div class="card">
    <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
        <div >
          {{ resource.title }}
          <form action="/resources/{{resource.id}}/rating/update" method="post" class="inline-block" id="resources-like-form">
            <input type="button" id="resources-like" name="like" value="{{resource.rating}}" class="rating-num">  
            <input type="hidden" name="url" value="{{this.url}}">  
            <button type="submit"  class="btn btn-like">       
              <i class="fas fa-heart like"></i>
            </button> 
          </form>
        </div>
        <div>
          <a href="/resources/{{resource.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          {{#markdown resource.description}}
            {{this}}
          {{/markdown}}
        </p>
      </blockquote>
      <p>- {{ resource.user.name }} </p>
      {{#each resource.tags}}
          <span class="badge badge-success">{{this}}</span>
      {{/each}}
    </div>
  </div>
</div>
