<div class="background">
    <div class="container">
        <div class="row  user-details-container py-5">
            
            <div class="col col-md-2">
                <img src="{{user.photoPath}}" alt="">
            </div>
            <div class="col col-md-8">
                <h4>{{user.name}} {{user.surname}}</h4>
                {{#isAdmin user }}
                <p class = "text-warning"><i class="fas fa-star"></i>Teacher</p>
                {{/isAdmin}}
                <h5>{{user.nickname}}</h5>
                <p>{{user.description}}</p>
                {{#isOwner user session}}
                    <a href="/users/{{user._id}}/edit" class="btn btn-success">Edit profile</a>
                {{/isOwner}}
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="wrap">
      {{#each user.tags}}
        <span class="badge badge-success">{{this}}</span>
      {{/each}}    
    </div>

    <div class="row">
        <div class="col">
            <h3>Your Questions</h3>
            {{> questions/list}}
        </div>
        <div class="col">
            <h3>Your Resources</h3>
            {{> resources/list}}
        </div>
    </div>

</div> 